@using DataAccess.Entity
@model User
@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Giris et</title>

    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="~/Login/css/style.css" type="text/css" media="all" />

</head>

<body>
    <div class="signinform">
        <h1>NewsOnline Admin Formu</h1>
        <!-- container -->
        <div class="container">
            <!-- main content -->
            <div class="w3l-form-info">
                <div class="w3_info">
                    <h2>Giriş edin</h2>
                    <form method="post">
                        <div class="input-group">
                            <span><i class="fas fa-user" aria-hidden="true"></i></span>
                            <input type="text" asp-for="UserName" placeholder="İstifadəçi adınız" required="">
                        </div>
                        <div class="input-group">
                            <span><i class="fas fa-key" aria-hidden="true"></i></span>
                            <input type="password" asp-for="Password" placeholder="Şifrəniz" required="">
                        </div>
                        <div class="form-row bottom">
                            <div class="form-check">
                                <input type="checkbox" id="remenber" name="remenber" value="remenber">
                                <label for="remenber"> Məni xatırla?</label>
                            </div>
                            <a href="#url" class="forgot">Şifrəni unuttun?</a>
                        </div>
                        <button class="btn btn-primary btn-block" type="submit">Daxil olun</button>
                    </form>
                    <p class="continue"><span>or Login with</span></p>
                    <div class="social-login">
                        <a href="#facebook">
                            <div class="facebook">
                                <span class="fab fa-facebook-f" aria-hidden="true"></span>

                            </div>
                        </a>
                        <a href="#twitter">
                            <div class="twitter">
                                <span class="fab fa-twitter" aria-hidden="true"></span>
                            </div>
                        </a>
                        <a href="#google">
                            <div class="google">
                                <span class="fab fa-google" aria-hidden="true"></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- //main content -->
        </div>
        <!-- //container -->
        <!-- footer -->
        <div class="footer">
            <p>
                © @DateTime.Now.Year NewsOnline.az. Bütün hüquqlar qorunur. Design by <a href="https://github.com/ArizCefDev" target="_blank">
                    Ariz Ceferli
                </a>
            </p>
        </div>
        <!-- footer -->
    </div>

    <!-- fontawesome v5-->
    <script src="~/Login/js/fontawesome.js"></script>

</body>

</html>