@using DataAccess.Entity
@model List<About>
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div class="inner-banner">
</div>
<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="/Home/Index/">Ana Səhifə</a></li>
            <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Haqqımızda</li>
        </ul>
    </div>
</section>
<!--//inner-page-->
<!-- home page block1 -->
<section id="about" class="home-services py-lg-5">
    <div class="container py-lg-5 py-md-3">
        <div class="w3l-header-sec text-center mb-md-5 mb-4">
            <h3 class="title-w3l mx-0">Haqqımızda Cədvəli</h3>
        </div>
        <div class="row">
            <a href="/Admin/AboutAdd" class="btn btn-primary">Yeni +</a>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Mətn</th>
                        <th scope="col">Sil</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.ID</th>
                            <td>@item.Text</td>
                            <td><a href="/Admin/AboutDelete/@item.ID/" class="btn btn-danger">Sil</a></td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- //home page block1 -->
