
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div class="inner-banner">
</div>
<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="/Home/Index/">Ana Səhifə</a></li>
            <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Admin</li>
        </ul>
    </div>
</section>
<!--//inner-page-->

<!-- home page block1 -->
<section id="about" class="home-services py-lg-5">
    <div class="container py-lg-5 py-md-3">
        <div class="w3l-header-sec text-center mb-md-5 mb-4">
            <h3 class="title-w3l mx-0">Admin Panel</h3>
        </div>
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Kategoriyalar</th>
                        <th scope="col">Xəbərlər</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="/Admin/Category/" class="btn btn-success">Kategoriyalar Cədvəlinə keçin</a>
                        </td>
                        <td>
                            <a href="/Admin/News/" class="btn btn-primary">Xəbərlər Cədvəlinə keçin</a>
                        </td>

                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- //home page block1 -->
