@using DataAccess.Entity
@model List<New>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<!-- main-slider -->
<section class="w3l-main-slider" id="home">
    <div class="companies20-content">
        <div class="owl-one owl-carousel owl-theme">
            <div class="item">
                <li>
                    <div class="slider-info banner-view bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h5>We Make Your Hair Look Great! </h5>
                                    <p class="mt-md-4 mt-3">
                                        Lorem ipsum dolor sit amet consectetur ipsum elit. Qui eligendi vitae sit.Ea
                                        ipsum sed consequuntur illum facere.
                                    </p>

                                    <a class="btn btn-style btn-outline-light mt-sm-5 mt-4 mr-2 mb-lg-5" href="about.html">
                                        Daha çoxu
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info  banner-view banner-top1 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h5>
                                        We Make Your Hair
                                        Look Perfect
                                    </h5>
                                    <p class="mt-md-4 mt-3">
                                        Lorem ipsum dolor sit amet consectetur ipsum elit. Qui eligendi vitae sit.Ea
                                        ipsum sed consequuntur illum facere.
                                    </p>
                                    <a class="btn btn-style btn-outline-light mt-sm-5 mt-4 mr-2 mb-lg-5" href="about.html">
                                        Daha çoxu
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top2 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h5>We Make Your Hair Look Great!</h5>
                                    <p class="mt-md-4 mt-3">
                                        Lorem ipsum dolor sit amet consectetur ipsum elit. Qui eligendi vitae sit.Ea
                                        ipsum sed consequuntur illum facere.
                                    </p>
                                    <a class="btn btn-style btn-outline-light mt-sm-5 mt-4 mr-2 mb-lg-5" href="about.html">
                                        Daha çoxu
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top3 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h5>
                                        We Make Your Hair
                                        Look Perfect
                                    </h5>
                                    <p class="mt-md-4 mt-3">
                                        Lorem ipsum dolor sit amet consectetur ipsum elit. Qui eligendi vitae sit.Ea
                                        ipsum sed consequuntur illum facere.
                                    </p>
                                    <a class="btn btn-style btn-outline-light mt-sm-5 mt-4 mr-2 mb-lg-5" href="about.html">
                                        Daha çoxu
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
        </div>
    </div>
</section>
<!-- /main-slider -->
<!-- home page block grids -->
<section class="w3l-text-11 py-5" id="blogs">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="text-center">
            <h3 class="title-w3l text-center mb-5">Ən Son Xəbərlər.</h3>
            <div>
                <div class="row text11-content">

                    @foreach(var item in Model)
                    {
                        <div class="col-md-3 item mb-lg-4">
                            <div class="card">
                                <div class="card-header p-0 position-relative border-0">
                                    <a href="/Home/Detail/@item.ID/">
                                        <img class="card-img-bottom d-block radius-image" src="~/newsimg/@item.Image" alt="Card image cap">
                                    </a>
                                </div>
                                <div class="card-body p-0 blog-details">
                                    <h6 class="mt-4">@item.Date.ToString("dd/MMM/yyyy")</h6>
                                    <a href="/Home/Detail/@item.ID/" class="admin">- @item.Date.ToString("t") </a>
                                    <br>
                                    <p>
                                        <a href="/Home/Detail/@item.ID/">
                                            @item.Title
                                        </a>
                                    </p>
                                </div>
                            </div>


                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</section>
<!-- //home page block grids -->
