
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords"
          content="Atelier Responsive web template, Bootstrap Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <title>NewsOnline.az </title>
    <link href="//fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500;600;700&display=swap" rel="stylesheet">
    <!-- Template CSS -->
    <link rel="shortcut icon" href="~/NewsOnline/assets/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="~/NewsOnline/assets/css/style-starter.css">
</head>